@use "../abstract" as *;
@use "../base/" as *;

.menu {
  ul {
    @include between;
    li {
      color: $clr--light;
      font-size: 1.5rem;
      font-weight: 500;
    }
  }
  p {
    margin-bottom: 2rem;
  }
}